body
{
background: -webkit-linear-gradient(225deg, rgb(195, 76, 251), rgb(79, 227, 232));
background: -moz-linear-gradient(225deg, rgb(195, 76, 251), rgb(79, 227, 232));
background: linear-gradient(225deg, rgb(195, 76, 251), rgb(79, 227, 232));
font-family: "Lato", sans-serif;
}
.card
{
    margin: 10px 30px;
}
.navbar
{
background: -webkit-linear-gradient(225deg, rgb(195, 76, 251), rgb(79, 227, 232));
background: -moz-linear-gradient(225deg, rgb(195, 76, 251), rgb(79, 227, 232));
background: linear-gradient(225deg, rgb(195, 76, 251), rgb(79, 227, 232));
}
#MyCardImage1
{
    background-image: url(https://1.downloader.disk.yandex.kz/preview/ca0ef307b489891fa8367dc52c70917a8a0f56efe22767c6fd498cc58aea45be/inf/mABC_ox0RhlmBxctl_zusDDjftR-5c7Yjm9GPYZ7MCbDf6M_trJhJeLfqxUZYZnHknnwQNQEu573TDeJie5dqQ%3D%3D?uid=1016033090&filename=csgo.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1016033090&tknv=v2&size=1898x923);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
}
#MyCardImage2
{
    background-image: url(https://1.downloader.disk.yandex.kz/preview/5d65ea0fd4cd2b55fa7ef8832dec51b0c604937149efad52b241cf901fe094a7/inf/wugiKjHISAtzvQhRibgpU4X8RepwUPMiVdpI3EE9whKFIj_a9e3PBOCwCSeZYzcYNajZRt8Gm111xhEfh8r4vQ%3D%3D?uid=1016033090&filename=valorant.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1016033090&tknv=v2&size=1898x923);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
}
#MyCardImage3
{
    background-image: url(https://4.downloader.disk.yandex.kz/preview/58f04c549b42996b54a047519320fe2ffb2a72ea6d34a2021cc00cdf4c453e00/inf/ZipkoB90BlVZS-KcG9fBzjDjftR-5c7Yjm9GPYZ7MCYJ8mi_-U2iq7J0MR2NxjYuMC5IR48l9FS9p57YPhLaJw%3D%3D?uid=1016033090&filename=lol.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1016033090&tknv=v2&size=1898x923);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }